<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="layout/main.html">
<div layout:fragment="pageContent">
    <div class="bg-white" style="border-radius: 8px; padding: 10px">
        <div class="row">

        </div>
        <div class="row" id="friends_data"></div>
        <div class="row" id="friend_requests"></div>
    </div>
    <div class="bg-white mt-3" style="border-radius: 8px; padding: 10px">
        <label class="mb-3"><strong style="font-size: 14px;" >People you may know</strong></label>
        <div class="row" id="unknown_users"></div>
    </div>
    <!-- Модальное окно -->
    <div class="modal fade" id="deleteFriendModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="friends_user_recipient_id">
                    <input type="hidden" id="friends_user_sender_id">
                    <strong>Are you sure?</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                    <button th:onclick="'deleteFriendConfirm()'" data-bs-dismiss="modal" class="btn btn-danger">YES</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/profile.js">

    </script>
</div>
</html>