<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div style="background-color: #0c0f66; height: auto; padding: 5px">
    <div class="container col-6 mx-auto">
        <div class="row">
            <div class="col-2">
                <img src="/pictures/logo.png" th:href="@{'/'}" style="width: 72%">
            </div>
            <div class="col-10 d-flex justify-content-between" >
                <form class="d-flex col-4" role="search" style="padding-right: 0px">
                    <input class="form-control me-2" style="margin-right: 0px" type="search" placeholder="Поиск" aria-label="Поиск">
                </form>
                <div class="dropdown d-flex col-8 justify-content-end">
                    <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="userPicture">
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" th:href="@{'/profile'}">My Profile</a></li>
                        <li><a class="dropdown-item" th:href="@{'/editProfile'}">Edit Profile</a></li>
                        <li sec:authorize="hasAnyRole('ROLE_ADMIN')"><a class="dropdown-item" th:href="@{'/admin/index'}">Admin Panel</a></li>
                        <hr>
                        <li><a class="dropdown-item" th:href="@{'/signout'}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        function loadData(){
            loadPictures();
        }

        function loadPictures() {
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function () {
                var avaHTML = ""
                var user = JSON.parse(this.responseText);
                    if (user.statusAvatar =='null'){
                        avaHTML+="<img src='/getDefaultAvatar' style='width: 44px; height: 40px; border-radius: 40px'>"
                    }else {
                        avaHTML+="<img src='/getPictures/" + user.statusAvatar + "' style='width: 44px; height: 44px; border-radius: 40px;'>";
                    }
                document.getElementById("userPicture").innerHTML = avaHTML;
            }
            xhttp.open("GET", "http://localhost:8000/picture/user")
            xhttp.send();
        }

    </script>
</div>
</html>