<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="layout/main.html">
<div layout:fragment="pageContent">
    <input type="hidden" th:id="profile_user" th:value="${user.id}">
    <div class="row">
        <div class="col-4" style="padding-right: 0px">
            <div class="bg-white" style="border-radius: 8px; padding: 10px">
                <div class="thumbnail" th:each="p:${pictures}">
                    <div class="img-wrap" style="width: 100%;"
                         th:if="${p.rolePicture=='ROLE_PROFILE' and p.user.id == user.id}">
                        <div>
                            <span th:if="${user.id == #authentication.getPrincipal().id}" th:onclick="'deletePicture('+${p.id}+')'" class="close" style="padding-bottom: 9px;">&times;</span>
                            <a th:href="@{'/getPictures/'+ ${p.picture}}" class="d-flex">
                                <img th:src="@{'/getPictures/'+${p.picture}}" class="img-thumbnail w-100" alt="Lights"
                                     style="height: 280px;">
                            </a>
                        </div>
                    </div>
                </div>
                <div th:if="${avatarPicture==null}">
                    <div>
                        <img th:src="'/getDefaultAvatar'" class="img-thumbnail w-100" alt="Lights"
                             style="height: 280px;">
                    </div>
                </div>
                <form th:if="${user.id == #authentication.getPrincipal().id}" th:action="@{'/uploadAvatar'}" method="post" enctype="multipart/form-data">
                    <div style="text-align:center;padding:3%;border:thin solid; background-color: rgb(225,225,225);">
                        <label style="cursor:pointer" for="inputTag">
                            Update Image <br/>
                            <i class="fa fa-x fa-camera"></i>
                            <input type="hidden" name="rolePicture" th:value="'ROLE_PROFILE'">
                            <input type="hidden" name="id" th:value="${#authentication.getPrincipal().id}">
                            <input style="display: none" id="inputTag" name="user_ava" required type="file">
                            <br/>
                            <span style="color:green" id="imageName"></span>
                        </label>
                    </div>
                    <button class="btn form-control mt-2" style="background-color: rgb(225,225,225);">Update</button>
                </form>
            </div>
            <div class="bg-white mt-3" style="border-radius: 8px; padding: 10px">
                <div class="mb-2">
                    <label>Friends</label>
                </div>
                <div class="row">
                    <div class="col-4" th:each="u:${userFriends}">
                        <div>
                            <img th:if="${u.statusAvatar == 'null'}" th:src="${'/getDefaultAvatar'}" style='width: 70px; height: 70px; border-radius: 70px'>
                            <img th:if="${u.statusAvatar != 'null'}" th:src="${'/getPictures/'+u.statusAvatar}" style='width: 70px; height: 70px; border-radius: 70px'>
                        </div>
                        <div class="text-center">
                            <a th:href="${'/profile/'+u.id}" style="text-decoration: none">
                                <div style="margin-bottom: 0px; font-size: 12px; color:#0047c9;" th:text="${u.fullName}"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="bg-white" style="border-radius: 8px; padding: 10px">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 style="color: #0047c9;" th:text="${user.fullName}"></h5>
                    </div>
<!--                    <div>-->
<!--                        <p class="text-secondary" th:if="${#authentication.getPrincipal()!=null}">Online</p>-->
<!--                    </div>-->
                </div>
                <hr>
                <div class="row">
                    <div class="col-4">
                        <p class="text-secondary">Birthday:</p>
                        <p class="text-secondary">Gender:</p>
                    </div>
                    <div class="col-8">
                        <p style="color: #3e5459" th:text="${user.birthdate}"></p>
                        <p style="color: #3e5459" th:text="${user.gender}"></p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <p class="text-center"></p>
                </div>
            </div>
            <div class="bg-white mt-3" style="border-radius: 8px; padding: 10px">
                <div th:if="${user.id == #authentication.getPrincipal().id}" class="d-flex justify-content-between">
                    <div>
                        <label class="mb-3">My photos</label>
                    </div>
                    <form th:action="@{'/newPortfolioPhoto'}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <input type="hidden" name="rolePicture" th:value="'ROLE_PORTFOLIO'">
                            <input type="hidden" name="id" th:value="${#authentication.getPrincipal().id}">
                            <input class="form-control form-control-sm" type="file" name="photo"
                                   style="font-size: 10px">
                            <button class="btn form-control"
                                    style="background-color: rgb(225,225,225); font-size: 12px; padding: 0px; height: 22px;">+Add Photo
                            </button>
                        </div>
                    </form>
                </div>
                <div th:if="${user.id != #authentication.getPrincipal().id}">
                    <label class="mb-3" th:text="${user.fullName +' photos'}"></label>
                </div>
                <div class="row" style="padding-left: 10px; padding-right: 10px">
                    <div class='col-4 mb-2' th:each="p:${array.pictureList}" th:if="${p.rolePicture == 'ROLE_PROFILE' or p.rolePicture == 'ROLE_PORTFOLIO'}">
                        <div class='thumbnail'>
                            <div class='img-wrap' style='width: 100%;'>
                                <input type='hidden' id='rolePortfolio' value='ROLE_PORTFOLIO'>
                                <input type="hidden" id="current_user_id" th:value="${#authentication.getPrincipal().id}">
                                <span th:if="${array.user.id == #authentication.getPrincipal().id}" th:onclick="'javascript:deletePicture(' + ${p.id} + ')'" class='close'
                                      style='padding-bottom: 9px;'>&times;</span>
                                <a th:href="${'/getPictures/'+p.picture}">
                                    <img th:src="${'/getPictures/'+p.picture}" style='width:100%; height: 180px; border-radius: 5px'>
                                </a>
                            </div>
                        </div>
                        <div th:id="${p.id+'_picture'}"></div>
                    </div>
                </div>
                <div id="likedUsersInfo" style="display: none"></div>
            </div>
            <div id="count" class="row" style="padding-left: 10px; padding-right: 10px"></div>
            <div class="bg-white mt-3" style="border-radius: 8px; padding: 10px" th:if="${user.id == #authentication.getPrincipal().id}">
                <div class="row">
                    <form th:action="@{'/addNews'}" method="post" enctype="multipart/form-data">
                        <div class="d-flex">
                            <div>
                                <img th:if="${avatarPicture!=null}" th:src="${'/getPictures/'+avatarPicture.picture}"
                                     style='width: 35px; height: 35px; border-radius: 40px; margin-right: 3px; margin-left: 2px'>
                                <img th:if="${avatarPicture==null}" th:src="'/getDefaultAvatar'"
                                     style='width: 35px; height: 35px; border-radius: 40px; margin-right: 3px; margin-left: 2px'>
                                <input type="file" class="form-control mt-1" name="news_picture" style="font-size: 0px;">
                                +img
                            </div>
                            <div class="input-group" style="margin-left: 10px">
                                <textarea name="description" class="form-control custom-control" rows="3"
                                          style="resize:none" placeholder="What's new?"></textarea>
                                <button type="submit"
                                        class="input-group-addon btn d-flex align-items-center" style="background-color:#00a6df;">Send
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class='bg-white mt-3' style='border-radius: 8px; padding: 10px' th:each="n : ${news}">
                <div class='mb-2'>
                    <div class='d-flex justify-content-between'>
                        <div class='d-flex'>
                            <div style='padding-right: 11px'>
                                    <img th:if="${user.statusAvatar == 'null'}" src='/getDefaultAvatar' style='width: 44px; height: 40px; border-radius: 40px'>
                                    <img th:if="${avatarPicture!=null}" th:src="${'/getPictures/'+avatarPicture.picture}" style='width: 44px; height: 44px; border-radius: 40px; margin-right: 3px; margin-left: 2px'>
                            </div>
                            <div>
                                <p style='margin-bottom: 0px; font-size: 0.8rem;' class='text-primary'>
                                    <strong style='color: #0047c9' th:text="${n.user.fullName}"></strong>
                                    </p>
                                <p style='font-size: 12px;color: grey;' th:text="${n.createdAt}"></p>
                            </div>
                        </div>
                            <div th:if="${user.id == #authentication.getPrincipal().id}">
                                <button th:onclick="'javascript:deleteNews(' + ${n.id} + ')'" class='btn'><i style='color: #7d99c0' class='fa fa-trash'></i></button>
                            </div>
                    </div>
                </div>
                <p class='mt-2' th:text="${n.description}"></p>
                <div th:id="${n.id+'_news'}"></div>
                <div th:id="${n.id+'_newsLikes'}"></div>
                <div th:id="${n.id+'_comment'}"></div>
                 <div class='d-flex mt-2'>
                     <img th:if="${user.statusAvatar == 'null'}" src='/getDefaultAvatar' style='width: 44px; height: 44px; border-radius: 40px'>
                     <img th:if="${avatarPicture != null}" th:src="${'/getPictures/'+avatarPicture.picture}" style='width: 44px; height: 44px; border-radius: 40px; margin-right: 5px; margin-left: 2px'>
                     <textarea id="comment_text_profile" name='comment_news' class='form-control' placeholder='Leave a comment...' rows='1' style='margin-left: 10px'></textarea>
                     <input type='hidden' id='comment_user_email' th:value="${user.email}">
                     <button th:onclick="'javascript:addComment(' + ${n.id} + ')'" class='btn'><i class='fa fa-chevron-right' aria-hidden='true'></i></button>
                     </div>
             </div>
            </div>

<!--            <div id="news_data"></div>-->

        <!-- Модальное окно -->
        <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-center" id="staticBackdropLabel">Delete picture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="id">
                        <strong>Are you sure?</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                        <button th:onclick="'confirmDelete()'" type="button" class="btn btn-danger">YES</button>
                    </div>
                </div>
            </div>
        </div>

            <!-- Модальное окно -->
            <div class="modal fade" id="deleteNewsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center">Delete news</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="news_id">
                            <strong>Are you sure?</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                            <button th:onclick="'javascript:deleteNewsConfirm()'" data-bs-dismiss="modal" class="btn btn-danger">YES</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Модальное окно -->
            <div class="modal fade" id="deleteCommentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center">Delete comment</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="comment_id">
                            <strong>Are you sure?</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NO</button>
                            <button th:onclick="'deleteCommentConfirm()'" data-bs-dismiss="modal" class="btn btn-danger">YES</button>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/profile.js"></script>
        <style>
            .img-wrap {
                position: relative;
                display: inline-block;
                font-size: 0;
            }

            .img-wrap .close {
                position: absolute;
                top: 2px;
                right: 2px;
                z-index: 100;
                background-color: #b0b0b0;
                padding: 5px 2px 2px;
                color: #622b2b;
                font-weight: bold;
                cursor: pointer;
                opacity: .2;
                text-align: center;
                font-size: 22px;
                line-height: 10px;
                border-radius: 50%;
            }

            .img-wrap:hover .close {
                opacity: 1;
            }
        </style>
    </div>
</div>
</div>
</html>